/ Begin Template: Policy
%table#tpl_policy.section{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

	%tr

		%td.main_header{:align => "center", :valign => "middle"}

			%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
				%tr
					%td{:align => "center", :valign => "middle"}
						%h1 Policy Information

	%tr

		%td.main_content{:align => "center", :valign => "middle"}

			%table.subsection{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

				%tr
					%td.col_left{:align => "left", :valign => "top", :colspan => "1", :width => "50%"}
						%ul.list_fields
							%li
								%strong Member Number:
								%span FGM1132554
							%li
								%strong Application Date:
								%span December 30, 2015
							%li
								%strong Expiry Date:
								%span January 2, 2016
							%li
								%strong Trip Length:
								%span 35 days

					%td.col_right{:align => "left", :valign => "top", :colspan => "1", :width => "50%"}
						%ul.list_fields
							%li
								%strong Policy Number:
								%span FGM1132554
							%li
								%strong Effective Date:
								%span January 2, 2015
							%li
								%strong Total Premium:
								%span $621.90
							%li
								%strong Total Tax:
								%span $39.38
						.rnd_single.orange
							%strong Total Amount:
							%span $661.28

			%table.subsection.last{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

				%tr
					%td.col_left{:align => "left", :valign => "top", :colspan => "1", :width => "50%"}
						%ul.list_fields
							%li
								%strong Policy Holder:
								%span Ryan Quesnel
					%td.col_right{:align => "left", :valign => "top", :colspan => "1", :width => "50%"}
						%ul.list_fields
							%li
								%strong Phone Number:
								%span (613) 867 1594

				%tr.spacer_top
					%td{:align => "left", :valign => "top", :colspan => "2", :width => "100%"}
						%ul.list_fields
							%li
								%strong Address:
								%span 170 Meadow Lane, Smith Falls, ON K7A 4S4, CA
							%li
								%strong E-Mail Address:
								%span ryan@quesnelgroup.ca