/ Begin Template: Coverage
%table#tpl_coverage.section{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

	%tr

		%td.main_header{:align => "center", :valign => "middle"}

			%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
				%tr
					%td{:align => "center", :valign => "middle"}
						%h1 Coverage Details

	%tr

		%td.main_content{:align => "center", :valign => "middle"}

			%table.subsection{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
				%tr
					%td{:align => "center", :valign => "middle"}

						.box

							%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

								%tr
									%td.box_content.border_bottom{:align => "left", :valign => "middle"}
										%h2 Multi Trip Annual Emergency Medical Insurance Worldwide

								%tr
									%td.box_content{:align => "left", :valign => "middle"}

										%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

											%tr
												%td.col_left{:align => "left", :valign => "top", :colspan => "1", :width => "40%"}
													%ul.list_fields
														%li
															%strong Deductible:
															%span $0
												%td.col_right{:align => "left", :valign => "top", :colspan => "1", :width => "60%"}
													%ul.list_fields
														%li
															%strong Medical Plan Benefit Limit:
															%span $5,000,000

											%tr.spacer_top.spacer_bottom
												%td{:align => "center", :valign => "top", :colspan => "2", :width => "100%"}
													.rnd_single.black
														%strong This insurance covers the following person(s):

											%tr.spacer_bottom
												%td{:align => "left", :valign => "top", :colspan => "2", :width => "100%"}
													%ul.list_fields
														%li
															%strong Last Name, First Name, (Gender):
															%span Quesnel, Ryan, (Male)

											%tr
												%td.col_left{:align => "left", :valign => "top", :colspan => "1", :width => "40%"}
													%ul.list_fields
														%li
															%strong Age:
															%span 29 years
												%td.col_right{:align => "left", :valign => "top", :colspan => "1", :width => "60%"}
													%ul.list_fields
														%li
															%strong Premium:
															%span $89.70

			%table.subsection{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
				%tr
					%td{:align => "center", :valign => "middle"}

						.box

							%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

								%tr
									%td.box_content.border_bottom{:align => "left", :valign => "middle"}
										%h2 Multi trip annual accidental death and dismemberment insurance

								%tr
									%td.box_content{:align => "left", :valign => "middle"}

										%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

											%tr
												%td{:align => "left", :valign => "top", :colspan => "2", :width => "100%"}
													%ul.list_fields
														%li
															%strong Beneficiary Name:
															%span Erin Quesnel
														%li
															%strong Air Flight / Common Carrier Benefit:
															%span $100,000
														%li
															%strong 24-hour accident benefit limit:
															%span $25,000

											%tr.spacer_top.spacer_bottom
												%td{:align => "center", :valign => "top", :colspan => "2", :width => "100%"}
													.rnd_single.black
														%strong This insurance covers the following person(s):

											%tr.spacer_bottom
												%td{:align => "left", :valign => "top", :colspan => "2", :width => "100%"}
													%ul.list_fields
														%li
															%strong Last Name, First Name, (Gender):
															%span Quesnel, Ryan, (Male)

											%tr
												%td.col_left{:align => "left", :valign => "top", :colspan => "1", :width => "40%"}
													%ul.list_fields
														%li
															%strong Age:
															%span 29 years
												%td.col_right{:align => "left", :valign => "top", :colspan => "1", :width => "60%"}
													%ul.list_fields
														%li
															%strong Premium:
															%span $40

			%table.subsection.last{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
				%tr
					%td{:align => "center", :valign => "middle"}

						.box

							%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

								%tr
									%td.box_content.border_bottom{:align => "left", :valign => "middle"}
										%h2 Multi trip annual trip cancellation / trip interruption insurance

								%tr
									%td.box_content{:align => "left", :valign => "middle"}

										%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

											%tr
												%td{:align => "left", :valign => "top", :colspan => "2", :width => "100%"}
													%ul.list_fields
														%li
															%strong Sum insured before departure:
															%span $7,000
														%li
															%strong Sum insured after departure:
															%span $25,000

											%tr.spacer_top.spacer_bottom
												%td{:align => "center", :valign => "top", :colspan => "2", :width => "100%"}
													.rnd_single.black
														%strong This insurance covers the following person(s):

											%tr.spacer_bottom
												%td{:align => "left", :valign => "top", :colspan => "2", :width => "100%"}
													%ul.list_fields
														%li
															%strong Last Name, First Name, (Gender):
															%span Quesnel, Ryan, (Male)

											%tr
												%td.col_left{:align => "left", :valign => "top", :colspan => "1", :width => "40%"}
													%ul.list_fields
														%li
															%strong Age:
															%span 29 years
												%td.col_right{:align => "left", :valign => "top", :colspan => "1", :width => "60%"}
													%ul.list_fields
														%li
															%strong Premium:
															%span $492.20