/ Begin Template: Intro
%table#tpl_intro.section{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

	%tr

		%td.main_content{:align => "center", :valign => "middle"}

			%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
				%tr
					%td{:align => "center", :valign => "middle"}
						%h1 Dear Ryan Quesnel,
						.paragraphs The Northman Company is proud to have you as a member and we wish you the most epic of adventures on your travels. You have signed up for an annual membership. This means you are covered from midnight on January 2, 2015 and your membership expires at midnight on January 2, 2016. If you decide to extend your trip, shoot us an email and we will adjust your travel dates accordingly.
						.idtag ID# 123456