/ Begin Template: Terms
%table#tpl_terms.section{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

	%tr

		%td.main_header{:align => "center", :valign => "middle"}

			%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
				%tr
					%td{:align => "center", :valign => "middle"}
						%h1 Terms and Conditions

	%tr

		%td.main_content{:align => "left", :valign => "middle"}

			%p By agreeing to these terms and conditions you are confirming you are currently in your home province, that you have read the policy wording for full details of the coverage and you understand that Travel Underwriters are the responsible underwriter.

			%p All persons insured are subject to the terms and conditions below.

			%p This document does not constitute the entire insurance policy, and you have been advised to read the policy booklet for full details of coverage and exclusions.

			%h3 Applicable to all coverages

			%ul.list_bullet
				%li
					In the event of a claim that may require or result in hospitalization, call OneWorld Assist Inc. immediately.
					%ul
						%li From Canada & USA: 1-800-663-0399
						%li From Mexico: 001-800-514-9976
						%li Collect call worldwide: 604-278-4108
				%li You understand that the medical conditions disclosed on this application may not be covered and that details of when pre-existing conditions are covered are set out in the policy booklet.
				%li A pre-existing condition exclusion may apply to you. Read the policy booklet for details on the pre-existing condition exclusion that may apply to you.
				%li You hereby authorize any hospital, physician or other person or organization that has records or knowledge of your health or medical history to provide that information to the company (as defined in the policy booklet) and OneWorld Assist Inc. and you authorize the company and OneWorld Assist Inc. to use and disclose that information to determine whether any claim that may be made is covered by this policy or by another plan or policy.

			%h3 Applicable to Trip Cancellation/Trip Interruption, Non-medical Package, All-Inclusive Holiday Package and Visitors to Canada Holiday Package

			%ul.list_bullet
				%li You confirm that currently no circumstance is known which might reasonably be expected to prevent your travel as scheduled.

			%h3 Applicable to Visitors to Canada Emergency Medical Insurance and Visitors to Canada Holiday Package

			%p A $250 cancellation fee will apply to Visitors to Canada policies cancelled prior to travel taking place, when the policy trip length is 365 days long and the sum insured is $100,000 or over. This rule will not apply when your Super Visa application has been declined. Full refunds (without any administrative fees) will be provided with proof of this denial prior to the effective date of the policy. After the effective date of the policy, refunds will also be available.

			%h3 Applicable to Visitors to Canada Emergency Medical Insurance

			%ul.list_bullet
				%li You confirm that you are in good health and that you know of no reason for which you may seek medical attention.
				%li You confirm that you have not seen a physician or other registered medical practitioner since their arrival in Canada.
				%li You confirm that you have not submitted a claim and no circumstance is known for which a claim may be made.
				%li You understand that if this policy is purchased prior to arrival in Canada or within 60 days, there is no coverage for any sickness arising in, occurring in or symptomatic during the first 48 hours from the effective date of this policy.
				%li You understand that if this policy is purchased more than 60 days after your arrival in Canada, there is no coverage for any sickness arising in, occurring in or symptomatic during the first 7 days from the effective date of this policy.

			%h3 Applicable to Visitors to Canada Holiday Package

			%ul.list_bullet
				%li You confirm that you are in good health and that you know of no reason for which they may seek medical attention.
				%li You confirm that you have not seen a physician or other registered medical practitioner since your arrival in Canada.
				%li You confirm that you have not submitted a claim and no circumstance is known for which a claim may be made.
				%li You understand that if this policy is purchased within 60 days, there is no coverage for any sickness arising in, occurring in or symptomatic during the first 48 hours from the effective date of this policy.
				%li You understand that if this policy is purchased more than 60 days after your arrival in Canada, there is no coverage for any sickness arising in, occurring in or symptomatic during the first 7 days from the effective date of this policy.

			%p You have read the terms and conditions which apply to the policy as set out above and understand and agree those terms and conditions on behalf of yourself and all persons for whom you are applying for insurance.

			%p This insurance is administered by North American Air Travel Insurance Agents Ltd. d.b.a. Travel Underwriters, a licensed insurance broker in British Columbia, Alberta, Saskatchewan, Manitoba, and Ontario, represented by licensed insurance agents Kathleen S. Starko and Bradley G. Dance in New Brunswick, Nova Scotia and P.E.I. 11th Floor - 6081 No. 3 Road, Richmond, BC Canada V6Y 2B2. Insurance is written as more fully detailed in the Policy wording booklet by Industrial Alliance Insurance and Financial Services Inc., Industrial Alliance Pacific General Insurance Corporation and certain Lloyd’s Underwriters under Binding Authority reference number RC789115 severally and not jointly.